@font-face {
  font-family: 'HelveticaBold';
  src:url('../fonts/HelveticaBold.eot?-kwf309');
  src:url('../fonts/HelveticaBold.eot?#iefix-kwf309') format('embedded-opentype'),
    url('../fonts/HelveticaBold.woff?-kwf309') format('woff'),
    url('../fonts/HelveticaBold.ttf?-kwf309') format('truetype');
  font-weight: normal;
  font-style: normal;
} 

@font-face {
  font-family: 'HelveticaRegular';
  src:url('../fonts/HelveticaRegular.eot?-kwf309');
  src:url('../fonts/HelveticaRegular.eot?#iefix-kwf309') format('embedded-opentype'),
    url('../fonts/HelveticaRegular.woff?-kwf309') format('woff'),
    url('../fonts/HelveticaRegular.ttf?-kwf309') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Medium';
  src:url('../fonts/Roboto-Medium.eot?-kwf309');
  src:url('../fonts/Roboto-Medium.eot?#iefix-kwf309') format('embedded-opentype'),
    url('../fonts/Roboto-Medium.woff?-kwf309') format('woff'),
    url('../fonts/Roboto-Medium.ttf?-kwf309') format('truetype');
  font-weight: normal;
  font-style: normal;
}


.row {
  padding: 0;
  margin: 0;
}

body {
  background-color: #000000;
  /* box-shadow: 0px 5px 15px rgb(36 35 33 / 7%); */
  /* max-height: 312px; */
  overflow-y: hidden;
  /* border-right: 1px solid #000; */
  /* border-left: 1px solid #000; */
  /* border-bottom: 2px solid #000; */
  /* border-top: 1px solid #000; */
}

a {color: #fff;}
a:hover {color: #fff;}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.clear {clear:both;}


button {
  border:none;
  background: none;
  box-shadow: unset;
  
}

button:focus {
  outline: none;
  box-shadow: unset;
}

img {
  max-width: 100%;
  height: auto;
}


header {
  padding: 5px 0 5px;
}

.hed-is {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 35px;
}

.tv-is a {
    font-size: 14px;
    color: #999999;
    font-family: 'HelveticaBold';
    margin: 0 15px 0;
}

.tv-is {
    text-align: left;
    display: flex;
    justify-content: right;
}

.video-bl {
    width: 100%;
    margin: 0 auto 30px;
    text-align: center;
    background: #1a1a1a;
}

.video-bl img {
    width: 100%;
    height: auto;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
}

.dropdown-menu2::-webkit-scrollbar {
    width: 3px;
    height: 0; 
    background-color: #E5E5E5;
}


.dropdown-wrapper ul.dropdown-menu2 {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: 0px 5px 15px rgba(36, 35, 33, 0.07);
  display: block;
  /* max-height: 312px; */
  overflow-y: auto;
  border-right: 5px solid #000;
  border-bottom: 5px solid #000;
  border-top: 5px solid #000;
  text-align: left;
}

.dropdown-menu2 li {
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  padding: 6px 10px;
  font-family: 'HelveticaBold';
  display: flex;
  align-items: center;
  width: 90%;
  margin: 0 0 5px;
}

.dropdown-menu2 li:hover{
  background-color: #f7c71e;
  border-radius:20px;
  cursor:pointer;
  color:#000;
}

.dropdown-menu2::-webkit-scrollbar-thumb {
  background: #525252;
  border-radius: 5px;
}


.dropdown-menu2::-webkit-scrollbar-track{
  background: #000;
}

span.num {
    color: #666666;
}

a#is {
    display: none;
}

ul.dropdown-menu2 li span {
  margin: 0 10px 0 0;
}

.rows {
    display: flex;
}

.menu-cont {
    display: flex;
    width: 87%;
    flex-wrap: wrap;
    position: relative;
}

.cont-tit-is {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.menu-vid {
    width: 15%;
    margin: 0 10px 0 0;
}

.cont-tit {
    font-size: 21px;
    color: #fff;
    font-family: 'HelveticaBold';
    width: 14%;
    margin: 0 0 25px;
    position: relative;
    z-index: 1;
}

.cont-time-is {
    font-size: 15px;
    color: #fff;
    font-family: 'HelveticaRegular';
    margin: 0 0 35px 17px;
}

.cont-text {
    color: #808080;
    font-size: 11px;
    overflow: hidden;
}

.cont-time {
    position: relative;
}

div#it{
  width: 174px;
  margin: 0 0 19px 12px;
}

div#it:after {
    position: absolute;
    right: 1px;
    top: 19px;
    width: 1px;
    overflow: hidden;
    bottom: -4180%;
    content: '';
    /*background: url(../images/vid-y.png)left top repeat-y;*/
    width: 1px;
    border-right: 1px solid #7c640f;
    z-index: 999;
}

div#it:before {
    position: absolute;
    right: -5px;
    top: 0;
    content: '';
    background: url(../images/li-is.png)left top no-repeat;
    width: 12px;
    height: 9px;
}

.prog-canl {
    position: relative;
    font-size: 12px;
    font-family: 'HelveticaBold';
    color: #fff;
    display: flex;
}

.prog-canl a {
    width: 44px;
    height: 24px;
    /* background: url(../images/prog-img.png)left top no-repeat; */
    margin: 7px;
}

li.filsms-bl {
    display: flex;
    width: 100%;
}

.program-cont {
    width: 100%;
    margin: 0 0 20px;
}

a.like-bl {
    width: 272px;
    background: url(../images/films-tit-img-y.png)left top repeat-y;
    border-radius: 7px;
    margin: 0 0px 5px 0px;
    padding: 22px 10px;
    display: flex;
    align-items: center;
    position: relative;
    border: 2px solid transparent;
}

a.like-bl:before {
    position: absolute;
    left: 0;
    bottom: 0;
    top: 3px;right:0;
    content: '';
    background: url(../images/films-tit-img-y.png)left top repeat-y;
    width: inherit;
    height: auto;
    z-index: -1;
}

a.like-bl:after {
    position: absolute;
    left: 0;
    bottom: -2px;
    top: 5px;
    right:0;
    content: '';
    background: url(../images/films-tit-img-bot.png)left top repeat-y;
    width: 269px;
    height: auto;
    z-index: -1;
}

a.like-bl:hover {
  border: 2px solid #f7c71e;
  border-radius: 7px;
  text-decoration: none;
}

span.like-num {
    margin: 10px;
    color: #999999;
    font-size: 12px;
    font-family: 'Roboto-Medium';
}

span.like-is {
    position: relative;
    background: url(../images/like-img.png)left top no-repeat;
    width: 14px;
    height: 14px;
    display: block;
    margin: 10px;
}

span.like-is.chek{
    position: relative;
    background: url(../images/like-check.png)left top no-repeat;
    width: 14px;
    height: 14px;
    display: block;
    margin: 10px;
}

span.like-tit {
    font-size: 17px;
    font-family: 'HelveticaBold';
}

a.filsms-is {
    display: flex;
    background: #1a1a1a;
    margin: 0 5px 5px 0;
    padding: 29px 9px;
    border-radius: 6px;
    border: 2px solid transparent;
    font-family: 'HelveticaBold';
    color: #fff;
    z-index: 999999;
}

a.filsms-is:hover{
    text-decoration:none;
    border: 2px solid #f7c71e;
    background: #333333;
}

a.filsms-is.is {
}

a.filsms-is.is2 {
    width: 31%;
}

a.filsms-is.is3 {
    width: 47%;
}

.cont-tit.is {
    margin: 0 0 25px;
}

ul.program-is {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: 0px 5px 15px rgb(36 35 33 / 7%);
    display: block;
    max-height: 502px;
    overflow-y: auto;
    border-right: 5px solid #000;
    border-bottom: 5px solid #000;
    border-top: 5px solid #000;
    text-align: left;
}

ul.program-is::-webkit-scrollbar-thumb {
  background: #525252;
  border-radius: 5px;
}


ul.program-is::-webkit-scrollbar-track{
  background: #000;
}

ul.program-is::-webkit-scrollbar {
    width: 5px;
    height: 5px!important; 
    background-color: #E5E5E5;
}

.program-box {
    width: 0%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    background: #00000085;
    bottom: 0;
    box-shadow: 5px -3px 15px 20px #0000009e;
}

.program-cont.is {
    display: none;
    width: 100%;
}

.program-cont.is.current {
  display: block;
}

.program-cont.is {
    background-color: #000000;
    box-shadow: 0px 5px 15px rgb(36 35 33 / 7%);
    max-height: 550px;
    overflow-y: auto;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    border-bottom: 2px solid #000;
    border-top: 1px solid #000;
}

.program-cont.is::-webkit-scrollbar-thumb {
  background: #525252;
  border-radius: 5px;
  height:10px;
}


.program-cont.is::-webkit-scrollbar-track{
  background: #000;
  height:10px;
}

.program-cont.is::-webkit-scrollbar {
    width: 4px;
    height: 20px!important; 
    background-color: #E5E5E5;
}

li.current{
     background-color: #f7c71e;
    border-radius: 20px;
    cursor: pointer;
    color: #000;
}

a.filsms-is.is2 {
  margin: 0 11px 11px 0;
  }

a.filsms-is.is {
}

button.slick-prev.slick-arrow {

}

button.slick-next.slick-arrow {
    background: url(../images/arrow-r.png)left top no-repeat;
    width: 48px;
    height: 56px;
    top: 33%;
    right: 51px;
}

nav.mt-mobile.nav-open {
    display: none;
}



/*BURGER*/

.mt-munu-mb {
  padding: 0 0 0 0;
  margin: 56px 0 -56px;
}

.burger {
  position: absolute;
  top: 20px;
  right: 35px;
  display: none;
  color: #BD30BC;
  cursor: pointer;
  z-index: 12;
}
.burger i:nth-of-type(1) {
  display: block;
}
.burger i:nth-of-type(2) {
  display: none;
}
.burger.burger-open {
  position: absolute;
  right: 13px;
  top: 19px;
  }
.burger.burger-open i:nth-of-type(1) {
  display: none;
}
.burger.burger-open i:nth-of-type(2) {
  display: block;
}

.body-open  {
  overflow: hidden;
}

.mt-mobile {
  position: absolute;
  top: 0;
  right: 0;
  width: auto;
  height: auto;
  z-index: 1;
  padding: 15px 0 0 0;
  transition: 0.3s ease all;
  clip-path: circle(100%);
  background: url(../images/films-tit-img-y.png)left top repeat-y;
}


.mt-mobile.nav-open {
  clip-path: circle(0px at 100% 0px);
}


a.ist {
    color: #f7c71e;
}

.tv-blb-bg.is {
  background: #f15a24;
}

.tv-blb-bg {
    background: #5e2fef;
    min-height: 235px;
    margin: 0 0 40px;
}

.tv-bl {
    padding: 65px 2px;
}

.tv-tit {
    color: #f7c71e;
    font-family: 'HelveticaBold';
    font-size: 30px;
}

.tv-text {
    font-family: 'HelveticaBold';
    font-size: 30px;
    color: #fff;
}

.cont-tv-tit {
    font-size: 28px;
    color: #fff;
    font-family: 'HelveticaBold';
    margin: 0 0 10px;
}

.cont-tv-text {
    color: #b3b3b3;
    font-family: HelveticaRegular;
}

.cont-tv-bl {
    margin: 0 0 80px;
}

.tv-wor-bl {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 0 80px;
}

.tv-wor-img {
    width: 35%;
    margin: 0 45px 0 0;
}

.tv-wor-text {
    width: 50%;
}

.tv-wor-tit {
    font-size: 26px;
    color: #fff;
    font-family: 'HelveticaBold';
    margin: 0px 0 35px;
}

.tv-wor-text-is {
    color: #b3b3b3;
    font-size: 14px;
    font-family: 'HelveticaRegular';
}

.tv-wor-img.is {
    order: 1;
    margin: 0 0 0 45px;
}

.bot-but {
    margin: 0 auto 50px;
    text-align: center;
}

.bot-but a {
    background: #f7c71e;
    color: #000000;
    display: inline-block;
    padding: 18px 43px;
    border-radius: 27px;
    font-family: 'HelveticaBold';
}

.bot-but a:hover {
    text-decoration: none;
    transition: 0.9s;
    opacity: 0.7;
}

.slid-is {
    display: flex;
    overflow: hidden;
}

.right-colum-slids {
    /* display: flex; */
    width: 80%;
    margin: 0 0 0 5px;
}

.cont-time-is.is {
    /* margin: 0 0 35px 17px; */
}

.left-colum-slids {
    width: 272px;
    margin: 0;
}

.cont-time-1 {
    width: 55%;
}

.cont-time-2 {
    width: 50%;
}

.cont-time-3 {
    width: 32%;
    height: 0;
}

.cont-time-4 {
    position: absolute;
    right: 30px;
    top: 0;
}

.cont-tit:before {
    position: absolute;
    left: 292px;
    top: 8px;
    content: 'сейчас проигрываеться';
    width: 185px;
    line-height: 54px;
    z-index: -4;
    height: 46px;
    color: #808080;
    font-size: 11px;
    background: url(../images/li-is.png)174px 0px no-repeat;
}

.cont-tit:after {
    position: absolute;
    left: 470px;
    bottom: 0;
    top: 21px;
    height: 1000000%;
    z-index: 99999;
    content: '';
    color: #808080;
    font-size: 11px;
    border-right: 2px solid #7c640f;
}

.slid-cont {
    display: flex;
    margin: 0;
}

.cont-time-11 {
    width: 40%;
}

.cont-time-22 {
    width: 70%;
}

.cont-tits {
    font-size: 21px;
    color: #fff;
    font-family: 'HelveticaBold';
    width: 14%;
    margin: 25px 0px 15px;
    position: relative;
    z-index: 1;
}

a.filsms-is.is44 {
    display: flex;
    background: transparent;
    margin: 0 5px 5px 0;
    padding: 29px 10px;
    border-radius: 6px;
    border: 2px solid transparent;
    font-family: 'HelveticaBold';
    color: #fff;
    z-index: 999999;
}

a.vid-but {
    position: absolute;
    right: 68px;
    width: 44px;
    height: 24px;
    background: url(../images/prog-img.png)left top no-repeat;
    cursor: pointer;
}

a.vid-but-2 {
  width: 44px;
  height: 24px;
  background: url(../images/prog-img.png)left top no-repeat;
  transform: rotate(180deg);
  display: none;
  cursor: pointer;
}

.video-bl {
    display: none;
}

footer {

}


















